<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #trip-map { height: 100%; margin: 0; padding: 0;}
      body {
        padding-top: 60px;
      }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="libs/jquery-1.11.3.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlajl3PZJqKw3hsOqHFwog04U1wsHS_Jw"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('trip-map'), mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body ng-app="OneDayTripApp">
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"/>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">One Day Trip</a>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="row" ng-controller="paramsController">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Activities</label>
                    <select class="form-control" ng-model="activity" ng-options="activity.text for activity in activities"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Topics</label>
                    <select multiple class="form-control" ng-model="selected_topics" ng-options="topic.text for topic in topics"></select>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Budget</label>
                    <label>
                        <input type="checkbox" ng-model="checked" ng-click="setFreeBudget(checked)"> Free
                    </label>
                </div>
                <div class="form-group col-md-6 no-p-left">
                    <label class="control-label">From</label>
                    <input type="text" class="form-control" ng-disabled="checked" ng-model="budget_from">
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">To</label>
                    <input type="text" class="form-control" ng-disabled="checked" ng-model="budget_to">
                </div>
            </div>
            
            <div class="col-md-4 left">
                <button class="btn btn-success" type="button" ng-click="getTrips()">Get my trip!</button>
                <button class="btn btn btn-warning" type="button">Reset</button>
            </div>
        </div>
        <hr>
        
        <div class="row main-content">
            <div class="col-md-4">
		<div class="list-group" ng-controller="tripsController">
                   <a href="#" class="list-group-item active">My Trips</a>
  		   <a href="#" ng-repeat="trip in tripList" class="list-group-item">
                       {{trip.name}}
                   </a>
                </div>
            </div>
            <div class="col-md-8">
                <div id="trip-map" style="min-height: 380px;"></div>
            </div>
        </div>
    </div>
  
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Plan your trip with one-click created with love :)</p>
      </div>
    </footer>
  </body>
</html>
